
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


// Colors
$bg: #fff;
$off-white: #f7f7f7;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;
$dark-grey:#333333;
$grey:#666;
$blue: #44d5f4;
$lite-orange: #fccb6c;
$lite-grey: #dce4f7;
$lite-red: #fd346b;
$grey_comp:#E6CC90;


// Fonts

$fs-large: 1.8rem;